<?xml version="1.0" encoding="UTF-8"?>
<manifest>
 <!-- Android -->
  <remote name="aosp" fetch="https://android.googlesource.com" review="https://android-review.googlesource.com/" />
  <default revision="refs/tags/android-11.0.0_r48" remote="aosp" sync-j="32" />

  <!-- Rockchip -->
  <remote name="rockchip-aosp" fetch="https://github.com/aosp-rockchip/" revision="refs/heads/r-11.0" sync-j="32" />
  <remote name="rockchip-linux" fetch="https://github.com/rockchip-linux/" sync-j="32" />

  <!-- Smatek -->
  <remote name="smatek" fetch="https://github.com/Smatek-DE" sync-j="32" />
</manifest>
